body {
    font-family: "sarabun";
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.table_bordered {
    border: 1px solid #000;
    margin-bottom: 10px;
}

.table_bordered td {
    border: 0.5px solid #000;
    padding: 3px;
}

@page {
    background-image: url("img/eha-bg-a4.png");
    background-image-resize: 6
}